<template>
    <div>
        <h1>Test Page</h1>
        <!-- Your test content here -->
    </div>
</template>

<script>
export default {
    mounted() {
        document.addEventListener('visibilitychange', this.handleVisibilityChange);
    },
    methods: {
        handleVisibilityChange() {
            if (document.visibilityState === 'hidden') {
                // User switched to another tab
                // Send AJAX request to record activity or perform other actions
                console.log('User switched to another tab');
            }
        },
    },
    beforeDestroy() {
        document.removeEventListener('visibilitychange', this.handleVisibilityChange);
    },
};
</script>
