<template>
    <div class="flex flex-wrap -mb-1">
        <template v-for="(link, key) in links">
            <div v-if="link.url === null" :key="key" class="mb-1 mr-1 px-4 py-3 text-gray-400 text-sm leading-4 border border-gray-600 rounded" v-html="link.label" />
            <Link v-else :key="`link-${key}`" class="mb-1 mr-1 px-4 py-3 focus:text-gray-500 text-sm text-white leading-4 hover:bg-gray-700 border border-gray-600 focus:border-gray-400 rounded" :class="{ 'bg-gray-800': link.active }" :href="link.url" v-html="link.label" />
        </template>
    </div>
</template>

<script>
import {Link} from "@inertiajs/vue3";

export default {
    components: {
        Link
    },
    props: {
        links: Array
    }
}
</script>
