<template>
    <label :for="inputId" class="block font-medium dark:text-gray-200">{{ label }}</label>
    <input :class="inputClasses" v-bind="$attrs" />
</template>


<script>
export default {
    props: {
        error: {
            type: Boolean,
            default: false,
        },
        label: String,
    },
    computed: {
        inputClasses() {
            const baseClasses = 'py-2 px-3 block w-full rounded-md dark:text-white text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400';

            if (this.error) {
                return baseClasses + 'border border-red-500 focus:border-red-500 focus:ring-red-500';
            } else {
                return baseClasses + 'border border-gray-200 focus:border-blue-500 focus:ring-blue-500';
            }
        },
        inputId() {
            return `input-${Math.random().toString(36).substr(2, 9)}`;
        }

    },
};
</script>
