<template>

    <!-- Card Section -->
    <div class="max-w-4xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <!-- Card -->
        <div class="bg-white rounded-xl shadow p-4 sm:p-7 dark:bg-slate-800">
            <div class="mb-8">
                <h2 class="text-xl font-bold text-gray-800 dark:text-gray-200">
                    New Exam
                </h2>
            </div>

            <form @submit.prevent="save">
                <!-- Grid -->

                <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">

                    <div class="sm:col-span-3">
                        <label for="af-exam" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
                            Title
                        </label>
                    </div>
                    <!-- End Col -->

                    <div class="sm:col-span-9">
                        <input v-model="form.name" id="af-exam"
                               class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                               placeholder="Exam Title"/>
                    </div>
                    <!-- End Col -->

                    <div class="sm:col-span-3">
                        <label for="af-exam-time" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
                            Exam Time
                        </label>
                    </div>
                    <!-- End Col -->

                    <div class="sm:col-span-9">
                        <input v-model="form.exam_time" id="af-exam-time"
                               class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                               placeholder="Exam Time"/>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="domain-name" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
                            Domain
                        </label>
                    </div>

                    <div class="sm:col-span-9">
                        <select @change.prevent="loadChapters" id="domain-name" v-model="form.domain_id"
                                class="py-2 px-3 pr-9 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400">
                            <option value=null selected>Select Domain</option>
                            <option v-for="domain in domains" :value="domain.id" :key="domain.id">{{ domain.name }}
                            </option>
                        </select>
                    </div>


                    <div class="sm:col-span-3">
                        <label for="af-account-gender-checkbox"
                               class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
                            Chapters
                        </label>
                    </div>
                    <!-- End Col -->

                    <div class="sm:col-span-9">
                        <div class="grid sm:grid-cols-3 gap-2">
                            <label v-for="(chapter,index) in chapters" :key="chapter.id" :for="chapter.id"
                                   class="flex p-3 block w-full bg-white border border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400">
                                <input v-model="form.chapters" type="checkbox" name="af-account-gender-checkbox"
                                       class="shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                                       :id="chapter.id"
                                       :value="chapter.id"
                                >
                                <span class="text-sm text-gray-500 ml-3 dark:text-gray-400">{{ chapter.name }}</span>
                            </label>

                        </div>
                    </div>

                </div>
                <!-- End Grid -->

                <div class="mt-5 flex justify-end gap-x-2">
                    <a :href="route('admin.exams.index')"
                       class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
                        Cancel
                    </a>
                    <button type="submit"
                            class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
                        Save
                    </button>
                </div>
            </form>
        </div>
        <!-- End Card -->
    </div>
    <!-- End Card Section -->
</template>
<script>
import Header from "@/components/Header.vue";
import {useForm} from "@inertiajs/vue3";
import AdminLayout from "@/Layouts/AdminLayout.vue";
import axios from "axios";

export default {
    components: {
        Header
    },
    layout: AdminLayout,
    props: {
        domains: Object
    },
    data() {
        return {
            form: useForm({
                name: '',
                domain_id: null,
                chapters: [],
                exam_time:45
            }),
            chapters: null
        }
    },
    methods: {
        save() {
            return this.form.post(route('admin.exams.store'))
        },
        async loadChapters() {
            await axios.get(route('admin.getChapters', this.form.domain_id)).then(res => {
                this.chapters = res.data.chapters
            })

        }

    }
}
</script>
