<template>

    <!-- Card Section -->
    <div class="max-w-4xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <!-- Card -->
        <div class="bg-white rounded-xl shadow p-4 sm:p-7 dark:bg-slate-800">
            <div class="mb-8">
                <h2 class="text-xl font-bold text-gray-800 dark:text-gray-200">
                    New Question
                </h2>
            </div>

            <form @submit.prevent="save">
                <!-- Grid -->

                <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">

                    <div class="sm:col-span-3">
                        <label for="af-question" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
                            Question
                        </label>
                    </div>
                    <!-- End Col -->

                    <div class="sm:col-span-9">
                        <textarea v-model="form.text" id="af-question" class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400" rows="4" placeholder="Type your question..."></textarea>
                    </div>
                    <!-- End Col -->


                    <div class="sm:col-span-3">
                        <label for="question-name" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
                            Chapter
                        </label>
                    </div>

                    <div class="sm:col-span-9">
                        <select v-model="form.chapter_id" class="py-2 px-3 pr-9 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400">
                            <option value=null selected>Select Chapter</option>
                            <option v-for="chapter in chapters" :value="chapter.id" :key="chapter.id">{{chapter.name}}</option>
                        </select>
                    </div>

                    <div class="sm:col-span-3">
                        <div class="inline-block">
                            <label for="af-account-phone" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
                                Answers
                            </label>
                        </div>
                    </div>
                    <div class="sm:col-span-9">
                        <div class="sm:flex mt-2 justify-content-center justify-center items-center align-content-center" v-for="(answer, index) in form.answers" :key="index">
                            <input v-model="answer.text" type="text" class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm -mt-px -ml-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-l-lg sm:mt-0 sm:first:ml-0 sm:first:rounded-tr-none sm:last:rounded-bl-none sm:last:rounded-r-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400" placeholder="Hello world!">
                            <select v-model="answer.is_correct" class="py-2 px-3 pr-9 block w-full sm:w-auto border-gray-200 shadow-sm -mt-px -ml-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-l-lg sm:mt-0 sm:first:ml-0 sm:first:rounded-tr-none sm:last:rounded-bl-none sm:last:rounded-r-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400">
                                <option selected :value="false">False</option>
                                <option :value="true">True</option>
                            </select>
                            <button @click="removeAnswer(index)" type="button" class="ml-2 inline-flex flex-shrink-0 justify-center items-center gap-2 h-[1.875rem] w-[1.875rem] rounded-md border border-transparent font-semibold bg-red-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm  dark:focus:ring-offset-gray-800">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM6.75 9.25a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5z" clip-rule="evenodd" />
                                </svg>
                            </button>
                        </div>

                        <p class="mt-3">
                            <button @click="addAnswer" type="button" class="inline-flex items-center gap-x-1.5 text-sm text-blue-600 decoration-2 hover:underline font-medium">
                                <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                                Add Answer
                            </button>
                        </p>
                    </div>

                </div>
                <!-- End Grid -->

                <div class="mt-5 flex justify-end gap-x-2">
                    <a :href="route('admin.questions.index')"
                       class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
                        Cancel
                    </a>
                    <button type="submit"
                            class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
                        Save
                    </button>
                </div>
            </form>
        </div>
        <!-- End Card -->
    </div>
    <!-- End Card Section -->
</template>
<script>
import Header from "@/components/Header.vue";
import {useForm} from "@inertiajs/vue3";
import AdminLayout from "@/Layouts/AdminLayout.vue";

export default {
    components: {
        Header
    },
    layout:AdminLayout,
    props:{
        question:Object,
        chapters:Object
    },
    data() {
        return {
            form: useForm({
                text: this.question.text,
                chapter_id: this.question.chapter_id,
                answers: this.question.answers,
            }),

        }
    },
    methods: {
        save() {
            return this.form.put(route('admin.questions.update',this.question.id))
        },
        addAnswer() {
            this.form.answers.push({ text: '', is_correct: false });
        },
        removeAnswer(index) {
            this.form.answers.splice(index, 1);
        },
    }
}
</script>
