<template>
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <div v-for="exam in exams.data" :key="exam.id"  class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
            <div  class="group flex flex-col h-full bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">


                <div class="p-4 md:p-6">
                    <span class="block mb-1 text-xs font-bold uppercase text-center text-blue-600 dark:text-blue-500">
                      {{exam.name}}
                    </span>
                    <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-white">
                        Exam Time : {{formatExamTime(exam.exam_time)}}
                    </h3>
                    <p v-if="exam.explanation" class="mt-3 text-gray-500">
                        {{exam.explanation}}
                    </p>
                </div>
                <div
                    class="mt-auto flex border-t border-gray-200 divide-x divide-gray-200 dark:border-gray-700 dark:divide-gray-700">
                    <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-2 rounded-b-xl font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm sm:p-4 dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800"
                       :href="route('candidate.takeExam',exam.id)">
                        Take Exam
                    </a>
                </div>
            </div>



        </div>


    </div>

</template>
<script setup>
defineProps({
    exams:Object
})


const formatExamTime = (minutes) =>{
    const hours = Math.floor(minutes / 60);
    const remainingMinutes = minutes % 60;

    if (hours === 0) {
        return `${remainingMinutes} mins`;
    } else if (hours === 1 && remainingMinutes === 0) {
        return `1 hour`;
    } else if (hours === 1) {
        return `1 hour and ${remainingMinutes} mins`;
    } else {
        return `${hours} hours and ${remainingMinutes} mins`;
    }
}

</script>
