<template>
    <div class="bg-gray-100 min-h-screen p-4">
        <div class="max-w-lg mx-auto bg-white p-6 rounded shadow">
            <h2 class="text-xl font-semibold mb-4">Exam Questions</h2>
            <div v-if="currentQuestion">
                <p class="mb-4">{{ currentQuestion.text }}</p>
                <ul class="space-y-2">
                    <li v-for="(answer, index) in currentQuestion.answers" :key="index">
                        <label class="flex items-center">
                            <input
                                v-if="currentQuestion.has_multiple_choices"
                                type="checkbox"
                                v-model="selectedAnswers"
                                :value="answer"
                                :id="'checkbox-' + index + 'y'"
                                class="mr-2"
                            />
                            <input
                                v-else
                                type="radio"
                                v-model="selectedAnswers"
                                :value="answer"
                                id="radio-answer"
                                class="mr-2"
                            />
                            {{ answer }}
                        </label>
                    </li>
                </ul>
                <p class="mt-4" >Time remaining: <b :class="{'text-red-500 glowing-countdown-warning': examDuration <= 30}">{{ currentTimeRemaining }}</b> </p>
                <div class="flex justify-end mt-4 space-x-2">
                    <button @click="prevQuestion" :disabled="currentQuestionIndex === 0" :class="[buttonStyle, 'disabled:opacity-50']">
                        Previous
                    </button>
                    <button @click="nextQuestion" :disabled="submitDisabled" :class="[buttonStyle, 'disabled:opacity-50']">
                        {{ isLastQuestion ? 'Finish' : 'Next' }}
                    </button>
                </div>
            </div>
            <div v-else>
                <p class="text-green-500 font-semibold" v-if="scorePercentage >= 70">
                    Congratulations! You passed the exam with a score of {{ totalScore }} ({{ scorePercentage }}%)
                </p>
                <p class="text-red-500 font-semibold" v-else-if="scorePercentage < 70">
                    Unfortunately, you did not pass the exam. Your score is {{ totalScore }}/{{questions.length}} ({{ scorePercentage }}%)
                </p>
            </div>
        </div>
    </div>
</template>


<script setup>

import {computed, onMounted, ref} from "vue";
import axios from "axios";

const currentQuestionIndex = ref(0)
const selectedAnswers = ref([])
let countdownInterval = null;
const submitDisabled = ref(false);
const questionAnswers = ref([]);
const scoreRef = ref(0);

const props = defineProps({
    questions: Object,
    exam_time:Number
})


let examDuration = ref(props.exam_time * 60)


onMounted(()=>{
    startCountdown()
})

const currentQuestion = computed(() => {
    return props.questions[currentQuestionIndex.value]
})
const isLastQuestion = computed(() => {
    return currentQuestionIndex.value === props.questions.length - 1;
});

const totalScore = computed(()=>{
    return scoreRef.value
})
const scorePercentage = computed(() => {
    return ((totalScore.value / props.questions.length) * 100).toFixed(2);
})

const buttonStyle = 'bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600';

const prevQuestion = () => {
    if (currentQuestionIndex.value > 0) {
        currentQuestionIndex.value--;
    }
};
const nextQuestion = () => {
    if (currentQuestionIndex.value < props.questions.length - 1) {
        questionAnswers.value.push({
            question_id: currentQuestion.value.id,
            answers: [...selectedAnswers.value]
        });
        currentQuestionIndex.value++;
        selectedAnswers.value = [];
    } else {
        questionAnswers.value.push({
            question_id: currentQuestion.value.id,
            answers: [...selectedAnswers.value]
        });
        validateAnswers()
        currentQuestionIndex.value = -1;
    }
};

const validateAnswers = async () => {
    submitDisabled.value = true;
    const response = await axios.get(route('candidate.verifyExam',{
        questionAnswers: questionAnswers.value
    }))
    scoreRef.value = response.data.score
};

const formatExamTime = (minutes) =>{
    const hours = Math.floor(minutes / 60);
    const remainingMinutes = minutes % 60;

    if (hours === 0) {
        return `${remainingMinutes} mins`;
    } else if (hours === 1 && remainingMinutes === 0) {
        return `1 hour`;
    } else if (hours === 1) {
        return `1 hour and ${remainingMinutes} mins`;
    } else {
        return `${hours} hours and ${remainingMinutes} mins`;
    }
}

const currentTimeRemaining = computed(() => {
    const minutes = Math.floor(examDuration.value / 60);
    const seconds = examDuration.value % 60;

    return `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
});


const startCountdown = () => {
    countdownInterval = setInterval(() => {
        if (examDuration.value > 0) {
            examDuration.value--;
        } else {
            clearInterval(countdownInterval);
            currentQuestionIndex.value = -1
        }
    }, 1000); // Update every minute (60 seconds)
};
</script>

<style>
@keyframes glowing {
    0% {
        text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    }
    50% {
        text-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
    }
    100% {
        text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    }
}

.glowing-countdown-warning {
    animation: glowing 1s infinite;
}
</style>
