<template>
    <Header />
<div id="main-content" class="relative w-full h-full overflow-y-auto bg-gray-50 dark:bg-gray-900">
    <flash-messages />
    <slot />
</div>
</template>

<script setup>
import FlashMessages from '@/components/FlashMessages.vue'
import Header from '@/components/Header.vue'
</script>
